.footer {
    text-align: center;
    margin-bottom: 20px;
}

.footer .footer-section {
    position: relative;
    width: 100%;
    font-size: 12px;
    font-family: sans-serif;
    z-index: -2;
}

.footer a:hover {
    color: #ff0000;
}