.body-background {
    background-color: #343a40 !important
}

.login-register-div {
    background-color: #343a40 !important
}

.input-group {
    max-width: 400px;
    margin: 0 auto;
}


.btn-dark {
    background-color: #222;
    border-color: #222;
    color: #fff;


}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

