{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    <!-- Start Login Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1 class="font-weight-bold text-light">Mist</h1>

            <!-- Start Login Form-->
            <form action="{% url 'login' %}" method="POST">
               {{ form.username|placeholder:'Username' }}
               {{ form.password|placeholder:'Password' }}

                <input type="hidden" value="{{ next }}" name="next"/>
                {% csrf_token %}

                <!-- Login Button-->
                <button type="submit">Log in</button>
            </form>
            <!-- End Login Form -->

        </div>
        <div class="second-option">

            <!-- Link to Register Page-->
            <p class="text-light">Don't have account? <a href="{% url 'register' %}?next={{ next }}">Register</a></p>
        </div>
    </div>
    <!-- End Login Section-->

{% endblock %}

