{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="p-3">
        <h1 class="text-light ml-2">{{ user.get_user_name }}</h1>
        {% if user.profile_picture %}
            <img class="img-thumbnail ml-2" style="width: 200px; height: 200px;" src="{{ user.profile_picture.url }}"
                 alt="{{ user.name }} Photo">
        {% else %}
            <img class="img-thumbnail ml-2" style="width: 200px; height: 200px;"
                 src="{% static 'images/def_user_photo.jpg' %}"
                 alt="Card image">
        {% endif %}
        {% if user.first_name %}
            <p class="text-light ml-2"><strong>First name:</strong> {{ user.first_name }}</p>
        {% endif %}
        {% if user.last_name %}
            <p class="text-light ml-2"><strong>Last name:</strong> {{ user.last_name }}</p>
        {% endif %}

        <p class="text-light ml-2"><strong>Email:</strong> {{ user.email }} </p>
    </div>
    <a class="nav-link text-light" href="{% url 'profile-edit' user.pk %}">
        Edit game
    </a>



{% endblock %}